html {
    background: url(../images/start4.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
}

body {
    background: none;
    height: 100%;
    text-align: center;
}

body * {
    font-family: 'Khula', sans-serif;
}

#map {
    height: 100%;
    width: 100%;
}

header img {
    width: 30%;
    position: absolute;
    z-index: 500;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#direccion {
    position: absolute;
    bottom: 3.5em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dbd7d7;
    padding-top: 5px;
    padding-bottom: 0px;
    |font-size: 1.2em;
}

#direccion ul {
    |width: 100%;
    position: absolute;
    bottom: 15px;
}

#direccion ul li{
    padding: 5px 0;
    margin-left: 10px;
    margin-right: 50px;
}

#direccion ul li a{
    padding: 0px;
}

#direccion ul li a img{
    width: 23%;
    position: absolute;
    margin-top: 6px;
}

#direccion ul li a p{
margin-left: 60px;
}

#direccion ul li p:nth-child(4){
    margin: 0px;
    margin-left: 15em;
    position: absolute;
    margin-top: -40px;
    left: -10px;
}

#direccion p:nth-child(5){
    position: absolute;
    left: 10.7em;
    margin-top: -17px;
    color: #848484;
    font-size: 0.89em;
}

#direccion button {
    border-radius: 100%;
    padding: 4px 6px 0px 6px;
    border: 1px solid #403f3f;
    position: absolute;
    margin-left: 3px;
    top: 5px;
}

#direccion p {
    margin-left: 40px;
}

#direccion p:nth-child(2) {
    margin-bottom: 0;
    font-size: 1.17em;
}

#direccion p:nth-child(3) {
    margin-top: 0;
    margin-bottom: 0;
    color: #848484;
    font-size: 0.89em;
}



#btnPickup {
    position: absolute;
    width: 100%;
    padding: 8px 0px;
    border-radius: 5px;
    background-color: #450f84;
    border: 1px solid #450f84;
    color: #fff;
    font-size: 1.3em;
    bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/*--------------------->> Menu estado Hidden Request Lyft <<---------------------*/

#btnRequest {
    position: absolute;
    width: 100%;
    padding: 8px 0px;
    border-radius: 5px;
    background-color: #ff00bf;
    border: 1px solid #ff00bf;
    color: #fff;
    font-size: 1.3em;
    bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#pru #menu2{
    |background-color: #fff;
    position: absolute;
    |top: 16.5em;
    width: 90%;
    |border-radius: 10px;
    |border: 1px solid #c6c6c6;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 50px;
}

#menu2 table{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    overflow: hidden;
}

#menu2 table tr{
    border-bottom: 1px solid #dddddd;
}

#menu2 table tr:nth-child(1){
    background-color: #f3f3f5;
}

#menu2 table tr:nth-child(1) td:nth-child(2){
    text-align: left;
}

#menu2 table tr:nth-child(1) td:nth-child(1){
    text-align: right;
    padding-right: 10px;
    width: 50%;
}

#menu2 table tr:nth-child(1) img{
    width: 70%;
}

#menu2 table tr:nth-child(2){
    background-color: #f3f3f5;
}

#menu2 table tr:nth-child(2) td:nth-child(1){
    border-right: 1px solid #dddddd;
}

#menu2 table tr:nth-child(2) td:nth-child(1) img{
width: 20%;
}

#menu2 table tr:nth-child(3) td, #menu2 table tr:nth-child(4) td{
    text-align: left;
    position: relative;
    left: 10px;
}

#menu2 p:nth-child(1){
    font-size: 1.17em;
    margin-bottom: 0px;
}

#menu2 p:nth-child(2){
    margin-top: 0px;
    font-size: 0.89em;
    color: #848484;
}
