
html {
    background: url(../images/start4.png);
    background-size: cover; 
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
}
body{
    background: none;
    height: 100%;
    text-align: center;
}

#map {
    height: 90%;
    width: 90%;
}